<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="retro-login">
        <ul style="list-style-type: none;">
            <% if (messages.success_msg) {%>
                <li><%=messages.success_msg %> </li>
            <%}%>
            <% if (messages.errors) {%>
                <li style="font-size: larger; font-style: bold;"><%=messages.errors %> </li>
            <%}%>
        </ul>
        <ul style="list-style-type: none;">
            <button><a href="/">Home</a></button>
            <button><a href="/logout">Logout</a></button>
        </ul>
        
        <h1>Welcome  </h1>
        <h3>Add About:</h3>
        <form action="/dashboard" method='POST'>
                <div>
                    <input type="text" id="name" name="name" placeholder="Name"required>
                </div>
                <div>
                    <input type="text" id="title" name="title" placeholder="Title"required>
                </div>
                <div>
                    <textarea rows="30" cols="50" type="text" id="descript" name="descript" placeholder="Description" required></textarea>
                </div>
                <div>
                    <input type="submit" value="Add">
                </div>
        </form>
        <h3>Update About:</h3>
        <!-- Update the forms -->
        <form action="/dashboard/update" method='POST'>
            <div>
                <input type="text" id="id" name="id" placeholder="id" value="<%=rows.id%>" >
            </div>
            <div>
                <thead>Name:</thead>
                <input type="text" id="name" name="name" placeholder="Name" value="<%=rows.name%>" >
            </div>
            <div>
                <thead>Title:</thead>
                <input type="text" id="title" name="title" placeholder="Title" value="<%=rows.title%>" >
            </div>
            <div>
                <thead>Number of visits:</thead>
                <input type="text" id="visits" name="visits" placeholder="visits" value="<%=rows.visits%>" >
            </div>
            <div>
                <h6>Description:</h6>
                <textarea rows="30" cols="50" type="text" id="descript" name="descript" placeholder="Description" ><%=rows.descript%></textarea>
            </div>
            <div>
                <input type="submit" value="Update">
            </div>
        </form>

    </div>
    <link href="css/style.css" rel="stylesheet">
    
</body>
</html>